*{
    padding: 0;  
    margin: 0;   
    box-sizing: border-box;  
}

body{ 
    width: 100%;  
    height: 100vh; 
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); 
    position: relative;  
}

.container{
   display: grid;  
   width: 100%;  
   grid-template-areas: 
   "lef rig";
}

.left{
    grid-area: lef;
    display: block; 
    width: 50%;
    margin-top: 150px;
    margin-left: 15px;;  
}


.left img{
    width: 100%;  
    height: max-content;
}

.right{
    width: 450px;
    height: 500px;
    background-color: #fff;
    margin-top: 50px;
    padding-left: 10px;
    margin-right: 10px;
    grid-area: rig;  
}

.left #shipe{
    -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);  
    background-color: #fff;  
    z-index: -1;
    width: 40%;
    height: 500px;
    position: absolute;
    margin-left: -100px;  
    margin-top: -100px;
}

.box{
   display: grid;  
   grid-template-areas: 
   "lo lo lo lo"
   "c c c c"  
   "b1 b1 b1 b1"
   "b2 b2 b2 b2";   
}

.logo{
    padding-top: 20px;
    grid-area: lo;
    display: flex; 
    font-size: 50px; 
    justify-content: center;
}

.content{
    grid-area: c;    
}

.signIn{
    grid-area: b1;  
    margin-top: 20px; 
    margin-right: 10px; 
}

.logIn{
    grid-area: b2;
    padding-top: 10px;
    margin-right: 10px;
}

.signIn button,.logIn button{
    width: 100%;
    font-size: larger; 
}

@media screen and (max-width: 1000px) {
   .left{
     display: none;
   }
   
   .right{
     justify-content: center;
     width: max-content;  
   } 
   
   .box{
     padding: 10px; 
   }
}