@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@200&display=swap');

:root {
    --font-color: #2f2e2e;
    --border-color: #cccaca;
    --logo-size: 2.5rem;
    --border-width: 0.1rem;
    --profile-photo-width: 3.5rem;
    --profile-photo-heigth: 3.5rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
}

.left-navbar {
    height: 100vh;
    display: flex;
    justify-content: center;
    border-right: var(--border-width) var(--border-color) solid;
}

.left-navbar-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 70%;
}

.logo a {
    font-size: var(--logo-size);
    text-transform: none;
}

.logo a:hover {
    background-color: #bbe2f8;
    border-radius: 80px;
}

.nav-list {
    display: flex;
    margin-top: 5px;
    justify-content: start;
}


.nav-list ul {
    font-size: 1.5rem;
    list-style: none;
    padding-left: 0.2rem;
}

.nav-list ul li {
    margin-bottom: 0.2rem;
    padding: 5px;
}

.nav-list ul li:hover {
    background-color: #7fd7f5;
    border-radius: 20px;
    cursor: pointer;
}

.nav-list ul li a {
    outline: none;
    text-decoration: none;
    color: var(--font-color);
}


.nav-list ul li a i {
    margin-right: 0.6rem;
}

.btn-info {
    border-radius: 20px;
    width: 100%;
    color: #ffffff;
    font-weight: bold;
}

.home {
    border-right: var(--border-width) solid var(--border-color);
}

.profile {
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin-top: 2rem;
    padding-left: 5px;
    padding-right: 5px;
}

.profile #profile-menu-button {
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
}

.profile-photo {
    width: var(--profile-photo-width);
    height: var(--profile-photo-heigth);
    border-radius: 50px;
}

.profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: var(--font-color);
}

.profile-container:hover {
    cursor: pointer;
    color: var(--font-color);
}

.profile-info .profile-container:hover {
    cursor: auto;
}

.right-navbar {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.right-navbar-container {
    margin: 20px;
    height: 100%;
}


.search-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e8e1e1;
    padding: 10px;
    border-radius: 50px;
    height: 50px;
    overflow: hidden;
}

.search-group:hover {
    border-radius: 50px;
    border: 1px #87daf6 solid;
}

.search-group #search-input {
    border: none;
    border-radius: 50px;
    overflow: hidden;
    background-color: transparent;
}

.search-group label {
    font-size: 1.2rem;
    z-index: 1000;
}

.search-group label:hover {
    color: #79c1ec;
}

.profile-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: auto;
    border-bottom: var(--border-width) var(--border-color) solid;
}

.profile-info #check-mark {
    font-size: 1.8rem;
    color: #4bb3ef;
}

.dropdown-menu > li {
    margin-bottom: 15px;
}

.profile-content {
    align-items: center;
    padding-top: 5px;
    margin-left: 5px;
}

.profile-name {
    font-size: 0.8rem;
    font-weight: bold;
    overflow-x: hidden;
}

.who-to-follow {
    display: flex;
    flex-direction: column;
    background-color: #f8eeee;
    margin-top: 4rem;
    padding: 10px;
    border-radius: 20px;
}



.who-to-follow #content {
    font-size: 1.2rem;
    font-weight: bolder;
}

.to-follow-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 15px;
}

.to-follow-container:hover {
    background-color: #cccaca;
    border-radius: 50px;
}

.to-follow-container #follow-button {
    border-radius: 20px;
    height: 35px;
    width: 7rem;
}

.who-to-follow #show-more-link {
    width: 100%;
    height: 40px;
    padding: 5px;
}

.who-to-follow #show-more-link a {
    text-transform: none;
    color: #0093E9;
    outline: none;
    text-decoration: none;
}


.who-to-follow #show-more-link:hover {
   border-radius: 20px;
   background-color: #cccaca;
   cursor: pointer;
}

.profile-username {
    font-size: 0.8rem;
    margin-top: -15px;
    overflow-x: hidden;
}

.profile:hover {
    border-radius: 50px;
    background-color: #cccccc;
}

.dropdown-menu {
    width: 250px;
}

@media screen and (max-width: 1200px) {

    .nav-content {
        display: none;
    }

    .btn-info {
        color: #ffffff;
        font-weight: bolder;
        border-radius: 50px;
    }

    .profile-content {
        display: none;
    }

    .profile #profile-menu-button {
        display: none;
    }

    .logo a {
        font-size: 1.2rem;
    }


    .logo {
        text-align: center;
    }

    .nav-list {
        display: flex;
        justify-content: center;
    }

    .nav-list ul li a {
        font-size: 1.1rem;
    }

    html {
        font-size: 1.2rem;
    }

    .left-navbar {
        width: 15%;
    }

    .right-navbar {
        display: none;
    }

}


@media screen and (max-width: 1000px) {
    .right-navbar {
        display: none;
    }

    .profile-content {
        display: none;
    }


    .left-navbar-container {
        text-align: center;
    }

    .profile #profile-menu-button {
        display: none;
    }

    .profile-container #profile-photo {
        width: 2rem;
        height: 2rem;
    }

    html {
        font-size: 1.2rem;
    }

    .btn-info {
        font-size: 0.5rem;
        margin-left: -5px;
        width: fit-content;
    }

    .profile {
        margin-left: -10px;
    }
}

@media screen and (max-width: 750px) {
    .btn-info {
        font-size: 0.4rem;
        margin-left: -14px;
        width: fit-content;
    }
}
